{% extends "layout.html" %}




{% block data %}
<h2 class="sub-header">虚拟机台账管理</h2>
  <div class="table-responsive scroll_layer">
    <table class="table table-striped">
      <thead class='width_auto_adaptation fixed'>
        <tr>
          <th>USE</th>
          <th>IP地址</th>
          <th>应用系统名称</th>
          <th>主机名</th>
          <th>vCenter名称</th>
          <th>CPU</th>
          <th>内存</th>
          <th>硬盘</th>
          <th>操作系统</th>
          <th>使用状态</th>
          <th>负责处室</th>
          <th>行方负责人</th>
          <th>行方电话</th>
          <th>项目组联系人</th>
          <th>项目组联系方式</th>
          <th>创建日期</th>
          <th>拟定回收日期</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody class='width_auto_adaptation'>
        <tr>
          <th>1</th>
          <th>192.168.1.19</th>
          <th>BPM</th>
          <th>cdbitms</th>
          <th>1.19_cdbitms</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th>运行数据库</th>
        </tr>
        <tr>
          <th>2</th>
          <th>10.66.208.12</th>
          <th>ep</th>
          <th>cdbapp01</th>
          <th>208.12_cdbapp01</th>
          <th>8C</th>
          <th>64G</th>
          <th>500G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
        <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>
                <tr>
          <th>3</th>
          <th>10.66.212.100</th>
          <th>ITService</th>
          <th>cdbitms</th>
          <th>212.100_ITService</th>
          <th>4C</th>
          <th>8G</th>
          <th>200G</th>
          <th>RedHat 6.6</th>
          <th>正在使用</th>
          <th>开发N处</th>
          <th>王xx</th>
          <th>13311034310</th>
          <th>明xx</th>
          <th>13311023510</th>
          <th>2015-1-20</th>
          <th>2020-3-4</th>
          <th></th>
        </tr>

      </tbody>
    </table>
  </div>
{% endblock %}