
{% extends "layout_page.html" %}

{% block data_info %}

<h2 class="sub-header animated bounceIn">资源管理清单</h2>
<div id="addresModal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">请填写资源规格参数</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline animated bounceInLeft" id="addresform" action='/add_res'>
          <div class="form-group" style="margin-top:5px">
            <label for="host_name" class="add_res_form_wid">主机名</label>
            <input type="text" name="host_name" class="form-control" id="host_name" placeholder="Hostname">

          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="cpu_core" class="add_res_form_wid">CPU</label>
            <input type="text" name="cpu_core" class="form-control" id="cpu_core" placeholder="Cpu numbers">
            <div id="cpu_slider"></div>
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="mem_size" class="add_res_form_wid">内存</label>
            <input type="text" name="mem_size" class="form-control" id="mem_size" placeholder="Memory size">
            <div id="mem_slider"></div>
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="val_per" class="add_res_form_wid">过期时间</label>
            <input type="text" name="val_per" class="form-control" id="val_per" placeholder="2017-09-10">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="contacts" class="add_res_form_wid">负责人</label>
            <input type="text" name="contacts" class="form-control" id="contacts" placeholder="Aaron@outlook.com">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary addBtn">保存并添加</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addresModal">新增资源</button>

<table style="margin-top:20px;" class="table table-bordered table-striped animated bounceInUp">
  <thead>
    <tr>
      <th>ID</th>
      <th>主机名</th>
      <th>CPU</th>
      <th>内存</th>
      <th>过期时间</th>
      <th>负责人</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="tbody-content">
  </tbody>
</table>

<script>
    $('#addresModal').find('.addBtn').on('click', function() {
      var url = '/add_res?' + $('#addresform').serialize()
      console.log(url)
      $.get(url, function(res) {
        if (res == 'ok') {
          $('#addresform')[0].reset()
          $('#addresModal').modal('hide')
          swal({
            title: "666",
            text: "恭喜恭喜，资源添加成功",
            imageUrl: "/static/sweetalert/example/images/thumbs-up.jpg"
          })

          getlist()
        } else {
          swal("资源添加失败", "请排查故障", "error")
          getlist()
        }
      })
      return false
    })

    function getlist() {
      var res = ''
      $.getJSON('/resinfo', function(res) {
        $.each(res, function(index, value) {
          res += '<tr><td>' + (index+1) + '</td>'
          res += '<td>' + value[1] + '</td>'
          res += '<td>' + value[2] + '</td>'
          res += '<td>' + value[3] + '</td>'
          res += '<td>' + value[4] + '</td>'
          res += '<td>' + value[5] + '</td>'
          res += '<td><button data-id="' + value[0] + '" class="btn btn-danger btn-xs delete-btn">删除</button><button type="submit" data-id="' + value[0] + '" style="margin-left:10px;" class="btn btn-warning btn-xs reset-btn" data-toggle="modal" data-target="#updateresModal">修改</button></td></tr>'
        })
        $('#tbody-content').html(res)
      })
    }
    getlist()


    $('#cpu_core').on('click', function() {
      $('#cpu_slider').slider({
        range: 'min',
        value: 2,
        min: 2,
        max: 32,
        slide: function(event, ui) {
          $('#cpu_core').val(ui.value);
        }
      });
      $("#cpu_core").val($('#cpu_slider').slider("value"));
    });


    $('#mem_size').on('click', function() {
      $('#mem_slider').slider({
        range: 'min',
        value: 2,
        min: 2,
        max: 32,
        slide: function(event, ui) {
          $('#mem_size').val(ui.value + "G");
        }
      });
      $("#mem_size").val($('#mem_slider').slider("value") + "G");
    });


    $('#val_per').on('click', function() {
      $("#val_per").datepicker({
        changeMonth: true,
        changeYear: true
      })
    })
</script>

{% endblock %}