<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>测试网页</title>
</head>
<style>
.add_res_form_wid {
          width: 60px;
        }
</style>
<body>



<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

<form class="form-inline animated bounceInLeft" id="resform" action='/add_user'>
  <div class="form-group">
    <label for="InputName" class="add_res_form_wid">主机名</label>
    <input type="text" name="user" class="form-control" id="inputuser" placeholder="UserName">
  </div>
  <br>
  <div class="form-group">
    <label for="InputPwd" class="add_res_form_wid">CPU</label>
    <input type="password" name="pwd" class="form-control" id="inputpwd" placeholder="Password">
  </div>
  <br>
  <div class="form-group">
    <label for="InputPwd" class="add_res_form_wid">内存</label>
    <input type="password" name="pwd" class="form-control" id="inputpwd" placeholder="Password">
  </div>
  <br>
  <div class="form-group">
    <label for="InputPwd" class="add_res_form_wid">过期时间</label>
    <input type="password" name="pwd" class="form-control" id="inputpwd" placeholder="Password">
  </div>
  <br>
  <div class="form-group">
    <label for="InputPwd" class="add_res_form_wid">负责人</label>
    <input type="password" name="pwd" class="form-control" id="inputpwd" placeholder="Password">
  </div>
</form>

</body>
</html>