{% extends "layout.html" %}

{% block script %}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

{% endblock %}

{% block data %}
<h3 class="sub-header">虚拟机台账管理</h3>
<div class="table-responsive scroll_layer">
  <table class="table table-striped display" cellspacing="0" id="data-table" width="100%">
    <thead class='width_auto_adaptation fixed'>
      <tr>
        <th>USE</th>
        <th>IP地址</th>
        <th>应用系统名称</th>
        <th>主机名</th>
        <th>vCenter名称</th>
        <th>CPU</th>
        <th>内存</th>
        <th>硬盘</th>
        <th>操作系统</th>
        <th>使用状态</th>
        <th>负责处室</th>
        <th>行方负责人</th>
        <th>行方电话</th>
        <th>项目组联系人</th>
        <th>项目组联系方式</th>
        <th>创建日期</th>
        <th>拟定回收日期</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <!-- <tbody id='tbody-content' class='width_auto_adaptation'>
      <tr>
        <th>1</th>
        <th>192.168.1.19</th>
        <th>BPM</th>
        <th>cdbitms</th>
        <th>1.19_cdbitms</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th>运行数据库</th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>2</th>
        <th>10.66.208.12</th>
        <th>ep</th>
        <th>cdbapp01</th>
        <th>208.12_cdbapp01</th>
        <th>8C</th>
        <th>64G</th>
        <th>500G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th>Oracle 12C</th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
      <tr>
        <th>3</th>
        <th>10.66.212.100</th>
        <th>ITService</th>
        <th>cdbitms</th>
        <th>212.100_ITService</th>
        <th>4C</th>
        <th>8G</th>
        <th>200G</th>
        <th>RedHat 6.6</th>
        <th>正在使用</th>
        <th>开发N处</th>
        <th>王xx</th>
        <th>13311034310</th>
        <th>明xx</th>
        <th>13311023510</th>
        <th>2015-1-20</th>
        <th>2020-3-4</th>
        <th></th>
        <th>删除、更新</th>
      </tr>
    </tbody> -->
    <tbody id='tbody-content' class='width_auto_adaptation'>
        {% for data in get_vmassets %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{data['ip_addr']}}</td>
            <td>{{data['app_name']}}</td>
            <td>{{data['hostname']}}</td>
            <td>{{data['vc_name']}}</td>
            <td>{{data['cpu']}}</td>
            <td>{{data['memory']}}</td>
            <td>{{data['disk']}}</td>
            <td>{{data['os']}}</td>
            <td>{{data['status']}}</td>
            <td>{{data['office_name']}}</td>
            <td>{{data['office_contact']}}</td>
            <td>{{data['office_phone']}}</td>
            <td>{{data['object_contact']}}</td>
            <td>{{data['object_phone']}}</td>
            <td>{{data['create_date']}}</td>
            <td>{{data['end_date']}}</td>
            <td>{{data['notes']}}</td>
            <td><button data-id="{{data['id']}}" class="btn btn-danger btn-xs delete-btn">删除</button><button type="submit" data-id="{{data['id']}}" style="margin-left:10px;" class="btn btn-warning btn-xs reset-btn" data-toggle="modal" data-target="#update-vmassets-Modal">重置</button></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

<script>

// function get_vmassets(){
//     var res = ''
//     $.getJSON('/vm_assets_data', function(res){

//         $.each(res, function(index, value){

//             res += '<tr><td>' + (index + 1) + '</td>'
//             res += '<td>' + value.ip_addr +'</td>'
//             res += '<td>' + value.app_name +'</td>'
//             res += '<td>' + value.hostname +'</td>'
//             res += '<td>' + value.vc_name +'</td>'
//             res += '<td>' + value.cpu +'</td>'
//             res += '<td>' + value.memory +'</td>'
//             res += '<td>' + value.disk +'</td>'
//             res += '<td>' + value.os +'</td>'
//             res += '<td>' + value.status +'</td>'
//             res += '<td>' + value.office_name +'</td>'
//             res += '<td>' + value.office_contact +'</td>'
//             res += '<td>' + value.office_phone +'</td>'
//             res += '<td>' + value.object_contact +'</td>'
//             res += '<td>' + value.object_phone +'</td>'
//             res += '<td>' + value.create_date +'</td>'
//             res += '<td>' + value.end_date +'</td>'
//             res += '<td>' + value.notes +'</td>'
//             res += '<td>删除、重置</td>'

//             // res += '<td><button data-id="' + value.id + '" class="btn btn-danger btn-xs delete-btn">删除</button><button type="submit" data-id="' + value.id + '" style="margin-left:10px;" class="btn btn-warning btn-xs reset-btn" data-toggle="modal" data-target="#update-vmassets-Modal">重置</button></td></tr>'
//         })
//         // console.log(res)
//         $('#tbody-content').html(res)
//     })
// }
// get_vmassets()

</script>

<script>
$(document).ready(function() {
   $('#data-table').DataTable({
      'dom': '<"float_left"f>r<"float_right"l>tip',  
      'language': {  
          'emptyTable': '没有数据',  
          'loadingRecords': '加载中...',  
          'processing': '查询中...',  
          'search': '检索:',  
          'lengthMenu': '每页 _MENU_ 条',  
          'zeroRecords': '没有数据',  
          'paginate': {  
              'first':      '第一页',  
              'last':       '最后一页',  
              'next':       '下一页',  
              'previous':   '上一页'  
          },  
          'info': '第 _PAGE_ 页 / 总 _PAGES_ 页',  
          'infoEmpty': '没有数据',  
          'infoFiltered': '(过滤总件数 _MAX_ 条)' 
        },
        'scrollCollapse': true,
        'scrollY':true,
        'scrollX': true,
        'scrollXInner': "150%"
   });
} );


</script>
{% endblock %}
