{% extends "layout.html" %}

{% block script %}

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script> -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

{% endblock %}

{% block data %}

<h3 class="sub-header">虚拟机台账管理<br><br><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-vmassets-Modal">新增资源</button></h3>

<div id="add-vmassets-Modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">新增资源</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline animated bounceInLeft" id="vmassets-form" action='/vm-assets/add' method='POST'>
          <div class="form-group" style="margin-top:5px">
            <label for="ip_addr" class="add_res_form_wid">IP地址</label>
            <input type="text" name="user" class="form-control" id="ip_addr" placeholder="ip_addr">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="app_name" class="add_res_form_wid">应用系统</label>
            <input type="text" name="pwd" class="form-control" id="app_name" placeholder="app_name">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="hostname" class="add_res_form_wid">主机名</label>
            <input type="text" name="pwd" class="form-control" id="hostname" placeholder="hostname">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="cpu" class="add_res_form_wid">CPU</label>
            <input type="text" name="pwd" class="form-control" id="cpu" placeholder="cpu">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="memory" class="add_res_form_wid">内存</label>
            <input type="text" name="pwd" class="form-control" id="memory" placeholder="memory">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="disk" class="add_res_form_wid">硬盘</label>
            <input type="text" name="pwd" class="form-control" id="disk" placeholder="disk">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="os" class="add_res_form_wid">操作系统</label>
            <input type="text" name="pwd" class="form-control" id="os" placeholder="os">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="status" class="add_res_form_wid">使用状态</label>
            <input type="text" name="pwd" class="form-control" id="status" placeholder="status">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="office_name" class="add_res_form_wid">负责处室</label>
            <input type="text" name="pwd" class="form-control" id="office_name" placeholder="office_name">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="office_contact" class="add_res_form_wid">行方负责人</label>
            <input type="text" name="pwd" class="form-control" id="office_contact" placeholder="office_contact">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="office_phone" class="add_res_form_wid">行方电话</label>
            <input type="text" name="pwd" class="form-control" id="office_phone" placeholder="office_phone">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="object_contact" class="add_res_form_wid">项目负责人</label>
            <input type="text" name="pwd" class="form-control" id="object_contact" placeholder="object_contact">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="object_phone" class="add_res_form_wid">项目组电话</label>
            <input type="text" name="pwd" class="form-control" id="object_phone" placeholder="object_phone">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="create_date" class="add_res_form_wid">创建日期</label>
            <input type="text" name="pwd" class="form-control" id="create_date" placeholder="create_date">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="end_date" class="add_res_form_wid">回收日期</label>
            <input type="text" name="pwd" class="form-control" id="end_date" placeholder="end_date">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="notes" class="add_res_form_wid">备注</label>
            <input type="text" name="pwd" class="form-control" id="notes" placeholder="notes">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary add-vmassets-btn">保存并添加</button>
      </div>
    </div>
  </div>
</div>

<div id="update-vmassets-Modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">请填写资源规格参数</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline animated bounceInLeft" id="update-vmassets-form" action='/vm_assets/update' method='POST'>

          <div class="form-group" style="margin-top:5px">
            <label for="update_ip_addr" class="add_res_form_wid">IP地址</label>
            <input type="text" name="update_ip_addr" class="form-control" id="update_ip_addr" placeholder="update_ip_addr">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_app_name" class="add_res_form_wid">应用系统</label>
            <input type="text" name="update_app_name" class="form-control" id="update_app_name" placeholder="update_app_name">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_hostname" class="add_res_form_wid">主机名</label>
            <input type="text" name="update_hostname" class="form-control" id="update_hostname" placeholder="update_hostname">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_vc_name" class="add_res_form_wid">VC名称</label>
            <input type="text" name="update_vc_name" class="form-control" id="update_vc_name" placeholder="update_vc_name">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_cpu" class="add_res_form_wid">CPU</label>
            <input type="text" name="update_cpu" class="form-control" id="update_cpu" placeholder="update_cpu">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_memory" class="add_res_form_wid">内存</label>
            <input type="text" name="update_memory" class="form-control" id="update_memory" placeholder="update_memory">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_disk" class="add_res_form_wid">硬盘</label>
            <input type="text" name="update_disk" class="form-control" id="update_disk" placeholder="update_disk">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_os" class="add_res_form_wid">操作系统</label>
            <input type="text" name="update_os" class="form-control" id="update_os" placeholder="update_os">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_status" class="add_res_form_wid">使用状态</label>
            <input type="text" name="update_status" class="form-control" id="update_status" placeholder="update_status">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_office_name" class="add_res_form_wid">负责处室</label>
            <input type="text" name="update_office_name" class="form-control" id="update_office_name" placeholder="update_office_name">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_office_contact" class="add_res_form_wid">行方负责人</label>
            <input type="text" name="update_office_contact" class="form-control" id="update_office_contact" placeholder="update_office_contact">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_office_phone" class="add_res_form_wid">行方电话</label>
            <input type="text" name="update_office_phone" class="form-control" id="update_office_phone" placeholder="update_office_phone">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_object_contact" class="add_res_form_wid">项目负责人</label>
            <input type="text" name="update_object_contact" class="form-control" id="update_object_contact" placeholder="update_object_contact">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_object_phone" class="add_res_form_wid">项目组电话</label>
            <input type="text" name="update_object_phone" class="form-control" id="update_object_phone" placeholder="update_object_phone">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_create_date" class="add_res_form_wid">创建日期</label>
            <input type="text" name="update_create_date" class="form-control" id="update_create_date" placeholder="update_create_date">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_end_date" class="add_res_form_wid">回收日期</label>
            <input type="text" name="update_end_date" class="form-control" id="update_end_date" placeholder="update_end_date">
          </div>
          <div class="form-group" style="margin-top:5px">
            <label for="update_notes" class="add_res_form_wid">备注</label>
            <input type="text" name="update_notes" class="form-control" id="update_notes" placeholder="update_notes">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary update-btn">保存并修改</button>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive scroll_layer">
  <table class="table table-striped display" cellspacing="0" id="data-table" width="100%">
    <thead class='width_auto_adaptation fixed'>
      <tr>
        <th>USE</th>
        <th>IP地址</th>
        <th>应用系统名称</th>
        <th>主机名</th>
        <th>vCenter名称</th>
        <th>CPU</th>
        <th>内存</th>
        <th>硬盘</th>
        <th>操作系统</th>
        <th>使用状态</th>
        <th>负责处室</th>
        <th>行方负责人</th>
        <th>行方电话</th>
        <th>项目组联系人</th>
        <th>项目组联系方式</th>
        <th>创建日期</th>
        <th>拟定回收日期</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody id='tbody-content' class='width_auto_adaptation'>
        {% for data in get_vmassets %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{data['ip_addr']}}</td>
            <td>{{data['app_name']}}</td>
            <td>{{data['hostname']}}</td>
            <td>{{data['vc_name']}}</td>
            <td>{{data['cpu']}}</td>
            <td>{{data['memory']}}</td>
            <td>{{data['disk']}}</td>
            <td>{{data['os']}}</td>
            <td>{{data['status']}}</td>
            <td>{{data['office_name']}}</td>
            <td>{{data['office_contact']}}</td>
            <td>{{data['office_phone']}}</td>
            <td>{{data['object_contact']}}</td>
            <td>{{data['object_phone']}}</td>
            <td>{{data['create_date']}}</td>
            <td>{{data['end_date']}}</td>
            <td>{{data['notes']}}</td>
            <td><button data-id="{{data['id']}}" class="btn btn-danger btn-xs delete-vmassets-btn">删除</button><button type="submit" data-id="{{data['id']}}" data-ip-addr="{{data['ip_addr']}}" data-app-name="{{data['app_name']}}" data-hostname="{{data['hostname']}}" data-vc-name="{{data['vc_name']}}" data-cpu="{{data['cpu']}}" data-memory="{{data['memory']}}" data-disk="{{data['disk']}}" data-os="{{data['os']}}" data-status="{{data['status']}}" data-office-name="{{data['office_name']}}" data-office-contact="{{data['office_contact']}}" data-office-phone="{{data['office_phone']}}" data-object-contact="{{data['object_contact']}}" data-object-phone="{{data['object_phone']}}" data-create-date="{{data['create_date']}}" data-end-date="{{data['end_date']}}" data-notes="{{data['notes']}}" style="margin-left:10px;" class="btn btn-warning btn-xs update-vmassets-btn" data-toggle="modal" data-target="#update-vmassets-Modal">更新</button></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>


<script>
    // ajax加载方法，然后加载的列表对不其，需要找大神协助
    // function get_vmassets(){
    //     var res = ''
    //     $.getJSON('/vm_assets_data', function(res){
    //         $.each(res, function(index, value){
    //             res += '<tr><td>' + (index + 1) + '</td>'
    //             res += '<td>' + value.ip_addr +'</td>'
    //             res += '<td>' + value.update_app_name +'</td>'
    //             res += '<td>' + value.hostname +'</td>'
    //             res += '<td>' + value.vc_name +'</td>'
    //             res += '<td>' + value.cpu +'</td>'
    //             res += '<td>' + value.memory +'</td>'
    //             res += '<td>' + value.disk +'</td>'
    //             res += '<td>' + value.os +'</td>'
    //             res += '<td>' + value.status +'</td>'
    //             res += '<td>' + value.office_name +'</td>'
    //             res += '<td>' + value.office_contact +'</td>'
    //             res += '<td>' + value.office_phone +'</td>'
    //             res += '<td>' + value.object_contact +'</td>'
    //             res += '<td>' + value.object_phone +'</td>'
    //             res += '<td>' + value.create_date +'</td>'
    //             res += '<td>' + value.end_date +'</td>'
    //             res += '<td>' + value.notes +'</td>'

    //             res += '<td><button data-id="' + value.id + '" class="btn btn-danger btn-xs delete-vmassets-btn">删除</button><button type="submit" data-id="' + value.id + '" style="margin-left:10px;" class="btn btn-warning btn-xs update-vmassets-btn" data-toggle="modal" data-target="#update-vmassets-Modal">重置</button></td></tr>'
    //         })
    //         // console.log(res)
    //         $('#tbody-content').html(res)
    //     })
    // }
    // get_vmassets()

</script>

<script>


$('#add-vmassets-Modal').find('.add-vmassets-btn').on('click', function() {
    var ip_addr = $('#ip_addr').val()
    var app_name = $('#app_name').val()
    var hostname = $('#hostname').val()
    var vc_name = $('#vc_name').val()
    var cpu = $('#cpu').val()
    var memory = $('#memory').val()
    var disk = $('#disk').val()
    var os = $('#os').val()
    var status = $('#status').val()
    var office_name = $('#office_name').val()
    var office_contact = $('#office_contact').val()
    var office_phone = $('#office_phone').val()
    var object_contact = $('#object_contact').val()
    var object_phone = $('#object_phone').val()
    var create_date = $('#create_date').val()
    var end_date = $('#end_date').val()
    var notes = $('#notes').val()
    var vmassets_info_post = {
        ip_addr: ip_addr,
        app_name: app_name,
        hostname: hostname,
        vc_name: vc_name,
        cpu: cpu,
        memory: memory,
        disk: disk,
        os: os,
        status: status,
        office_name: office_name,
        office_contact: office_contact,
        office_phone: office_phone,
        object_contact: object_contact,
        object_phone: object_phone,
        create_date: create_date,
        end_date: end_date,
        notes: notes
    }
    $.post('/vm_assets/add', vmassets_info_post, function(res) {
        if (res == 'ok') {
            $('#vmassets-form')[0].reset()
            $('#add-vmassets-Modal').modal('hide')
            swal({
                title: "666",
                text: "恭喜恭喜，记录添加成功",
                imageUrl: "/static/sweetalert/example/images/thumbs-up.jpg"
            })
            // 实现页面自动跳转
            location.href = "/vm_assets"


        } else {
            swal("记录添加失败", "请联系管理员", "error")

        }
    })
    return false
})

$(document).on('click', '.delete-vmassets-btn', function() {
    var id = $(this).attr('data-id')
    // alert(id)
    swal({
            title: "确定删除吗？",
            text: "删除后你将永远会失去Ta",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        },
        function() {
            // $.get('/del_res?id=' + id, function(res) {
            $.post('/vm_assets/delete', {id: id}, function(res) {
                if (res == 'ok') {
                    swal('删除成功')
                    // 实现页面自动跳转
                    location.href = "/vm_assets"
                } else if (res == 'error') {
                    swal('删除失败')

                }
            })
        })
    return false
})

$(document).on('click', '.update-vmassets-btn', function() {
    var vmassets_id = $(this).attr('data-id')

    var update_ip_addr = $(this).attr('data-ip-addr')
    var update_app_name = $(this).attr('data-app-name')
    var update_hostname = $(this).attr('data-hostname')
    var update_vc_name = $(this).attr('data-vc-name')
    var update_cpu = $(this).attr('data-cpu')
    var update_memory = $(this).attr('data-memory')
    var update_disk = $(this).attr('data-disk')
    var update_os = $(this).attr('data-os')
    var update_status = $(this).attr('data-status')
    var update_office_name = $(this).attr('data-office-name')
    var update_office_contact = $(this).attr('data-office-contact')
    var update_office_phone = $(this).attr('data-office-phone')
    var update_object_contact = $(this).attr('data-object-contact')
    var update_object_phone = $(this).attr('data-object-phone')
    var update_create_date = $(this).attr('data-create-date')
    var update_end_date = $(this).attr('data-end-date')
    var update_notes = $(this).attr('data-notes')


    $('#update_ip_addr').val(update_ip_addr)
    $('#update_app_name').val(update_app_name)
    $('#update_hostname').val(update_hostname)
    $('#update_vc_name').val(update_vc_name)
    $('#update_cpu').val(update_cpu)
    $('#update_memory').val(update_memory)
    $('#update_disk').val(update_disk)
    $('#update_os').val(update_os)
    $('#update_status').val(update_status)
    $('#update_office_name').val(update_office_name)
    $('#update_office_contact').val(update_office_contact)
    $('#update_office_phone').val(update_office_phone)
    $('#update_object_contact').val(update_object_contact)
    $('#update_object_phone').val(update_object_phone)
    $('#update_create_date').val(update_create_date)
    $('#update_end_date').val(update_end_date)
    $('#update_notes').val(update_notes)


    // $('#update-vmassets-Modal').attr('data-update_ip_addr', update_ip_addr)

    $('#update-vmassets-Modal').attr('data-id', vmassets_id).modal('show')
    })
$('#update-vmassets-Modal').find('.update-btn').on('click', function() {
    var id = $('#update-vmassets-Modal').attr('data-id')
    // console.log(id)
    var vmassets_info_post = {
        update_ip_addr: $('#update_ip_addr').val(),
        update_app_name: $('#update_app_name').val(),
        update_hostname: $('#update_hostname').val(),
        update_vc_name: $('#update_vc_name').val(),
        update_cpu: $('#update_cpu').val(),
        update_memory: $('#update_memory').val(),
        update_disk: $('#update_disk').val(),
        update_os: $('#update_os').val(),
        update_status: $('#update_status').val(),
        update_office_name: $('#update_office_name').val(),
        update_office_contact: $('#update_office_contact').val(),
        update_office_phone: $('#update_office_phone').val(),
        update_object_contact: $('#update_object_contact').val(),
        update_object_phone: $('#update_object_phone').val(),
        update_create_date: $('#update_create_date').val(),
        update_end_date: $('#update_end_date').val(),
        update_notes: $('#update_notes').val(),
        id: id
    }

    console.log(vmassets_info_post.update_status)
    $.post('/vm_assets/update', vmassets_info_post, function(res) {
      if (res == 'ok') {
        swal('信息修改成功')
        $('#update-vmassets-form')[0].reset()
        $('#update-vmassets-Modal').modal('hide')
        // 实现页面自动跳转
        location.href = "/vm_assets"
      }else if (res == 'error') {
        swal('信息修改失败')
        $('#update-vmassets-form')[0].reset()
        $('#update-vmassets-Modal').modal('hide')

      }
    })
    return false
    })


</script>




<script>


$(document).ready(function() {
    $('#data-table').DataTable({
        'dom': '<"float_left"f>r<"float_right"l>tip',
        'language': {
            'emptyTable': '没有数据',
            'loadingRecords': '加载中...',
            'processing': '查询中...',
            'search': '检索:',
            'lengthMenu': '每页 _MENU_ 条',
            'zeroRecords': '没有数据',
            'paginate': {
                'first': '第一页',
                'last': '最后一页',
                'next': '下一页',
                'previous': '上一页'
            },
            'info': '第 _PAGE_ 页 / 总 _PAGES_ 页',
            'infoEmpty': '没有数据',
            'infoFiltered': '(过滤总件数 _MAX_ 条)'
        },
        'scrollCollapse': true,
        'scrollY': true,
        'scrollX': true,
        'scrollXInner': "150%"
    });
});

</script>
{% endblock %}
